*.mat
/CCS_temporary/
CCS_Set_NEWNEW_0530.zip
CCS_Set_NEWNEW/CCS_temporary/@AIC0.txt
CCS_Set_NEWNEW/CCS_temporary/@AIC1.txt
CCS_Set_NEWNEW/CCS_temporary/@Determined_Gap.txt
CCS_Set_NEWNEW/CCS_temporary/@GETAvar.txt
CCS_Set_NEWNEW/CCS_temporary/@KUPCHK00.txt
CCS_Set_NEWNEW/CCS_temporary/@NB_BNSN.txt
CCS_Set_NEWNEW/CCS_temporary/@NC_BNSN.txt
CCS_Set_NEWNEW/CCS_temporary/@NP_BNSN.txt
CCS_Set_NEWNEW/CCS_temporary/@NPARADD.txt
CCS_Set_NEWNEW/CCS_temporary/@SV_SORT.txt
CCS_Set_NEWNEW/CCS_temporary/@SV_STEEP.txt
CCS_Set_NEWNEW/CCS_temporary/@SVDCHK.txt
CCS_Set_NEWNEW/CCS_temporary/Comparison_FieldSignal.txt
CCS_Set_NEWNEW/CCS_temporary/Comparison_FluxSignal.txt
CCS_Set_NEWNEW/CCS_temporary/Comparison_TotField.txt
CCS_Set_NEWNEW/CCS_temporary/Comparison_TotFlux.txt
CCS_Set_NEWNEW/CCS_temporary/CurvCCS_Final.txt
CCS_Set_NEWNEW/CCS_temporary/CurvCCS.txt
CCS_Set_NEWNEW/CCS_temporary/DiscontinuousNodePoints.txt
CCS_Set_NEWNEW/CCS_temporary/MeshPoints.txt
CCS_Set_NEWNEW/CCS_temporary/SmallSVs.txt
CCS_Set_NEWNEW/.DS_Store
CCS_Set_NEWNEW/vars_afterForm.mat
CCS_Set_NEWNEW/vars_afterLoadData.mat
CCS_Set_NEWNEW/vars_aftermakeFFdata.mat
CCS_Set_NEWNEW/vars_afterSVDCMP.mat
CCS_Set_NEWNEW/vars_inLcurve.mat
CCS_Set_NEWNEW/vars_SVSORT.mat
*.log
*.hdr
*.dat
*.png